.font{
     font-family: 'Bebas Neue', cursive;
}
.orange-color{
     color: #FA804C;
}
.dark-blue{
     background-color: #3847CF;
     
}
.logo{
     color: #3847CF;
}
.white-black{
     color: #363958;
}
.bg-nike{
     background-color: #ebeff7;
}
.card-color{
     background-color: #F1F1F1;
}
.font-size{
     font-size: 14px;
}
.footer{
     background-color: #141731;
}